
<div class="management-container">

  <!-- Header -->
  <div class="header-actions">

    <div class="page-heading">

      <div class="heading-icon">
        <mat-icon>people</mat-icon>
      </div>

      <div>
        <h2>
          {{ 'users.management' | translate }}
        </h2>

        <p>
          {{ 'users.description' | translate }}
        </p>
      </div>

    </div>

    <button
      mat-raised-button
      class="add-button"
      type="button"
      (click)="showAddUser()"
    >
      <mat-icon>person_add</mat-icon>

      {{ 'users.addUser' | translate }}

    </button>

  </div>


  <!-- Users Table -->
  <div class="table-responsive">

    <table
      mat-table
      [dataSource]="dataSource()"
    >

      <!-- Username -->
      <ng-container matColumnDef="username">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'users.user' | translate }}
        </th>

        <td mat-cell *matCellDef="let user">

          <div class="user-info">

            <div class="user-avatar">
              <mat-icon>person</mat-icon>
            </div>

            <span class="user-name">
              {{ user.name }}
            </span>

          </div>

        </td>

      </ng-container>


      <!-- Email -->
      <ng-container matColumnDef="email">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'users.email' | translate }}
        </th>

        <td mat-cell *matCellDef="let user">

          <div class="email-cell">

            <mat-icon>email</mat-icon>

            <span>
              {{ user.email }}
            </span>

          </div>

        </td>

      </ng-container>


      <!-- Actions -->
      <ng-container matColumnDef="actions">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'common.actions' | translate }}
        </th>

        <td mat-cell *matCellDef="let user">

          <div class="action-buttons">

            <button
              mat-icon-button
              type="button"
              class="edit-button"
              [attr.aria-label]="'common.edit' | translate"
              (click)="editUser(user)"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-icon-button
              type="button"
              class="delete-button"
              [attr.aria-label]="'common.delete' | translate"
              (click)="deleteUser(user)"
            >
              <mat-icon>delete</mat-icon>
            </button>

          </div>

        </td>

      </ng-container>


      <!-- Rows -->
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>

      <tr
        mat-row
        *matRowDef="
          let row;
          columns: displayedColumns
        "
      ></tr>

    </table>

  </div>

</div>
