
<div class="modal-overlay">

  <div class="modal-container">

    <!-- =====================================================
         HEADER
         ===================================================== -->

    <div class="modal-header">

      <div class="header-title">

        <div class="title-icon">

          <mat-icon>
            category
          </mat-icon>

        </div>


        <div>

          <h2>
          
            {{
            isEditing()
              ? ('categories.addCategory' | translate)
              : ('categories.editCategory' | translate)
          }}
          </h2>

       <!--    <p>
            {{ dialogDescription() }}
          </p> -->

        </div>

      </div>


      <button
        mat-icon-button
        type="button"
        class="close-button"
        (click)="onCancel()"
        [disabled]="isSubmitting()"
        [attr.aria-label]="'common.close' | translate"
      >

        <mat-icon>
          close
        </mat-icon>

      </button>

    </div>


    <!-- =====================================================
         FORM
         ===================================================== -->

    <form
      [formGroup]="categoryForm"
      (ngSubmit)="onSubmit()"
    >

      <div class="form-content">


        <!-- =================================================
             IMAGE
             ================================================= -->

        <div class="image-upload-section">

          <div
            class="image-preview-wrapper"
            (click)="fileInput.click()"
          >

            @if (imagePreview()) {

              <img
                [src]="imagePreview()"
                [alt]="
                  categoryForm.get('name')?.value ||
                  ('categories.categoryImage' | translate)
                "
                class="category-image-preview"
              />

            }


            @if (!imagePreview()) {

              <div class="image-placeholder">

                <mat-icon>
                  cloud_upload
                </mat-icon>

                <span>
                  {{ 'categories.chooseImage' | translate }}
                </span>

              </div>

            }


            <div class="image-hover-overlay">

              <mat-icon>
                photo_camera
              </mat-icon>

              <span>
                {{ 'categories.changeImage' | translate }}
              </span>

            </div>

          </div>


          <input
            #fileInput
            type="file"
            accept="image/*"
            hidden
            (change)="onImageSelected($event)"
          />

        </div>


        <!-- =================================================
             CATEGORY NAME
             ================================================= -->

        <mat-form-field
          appearance="outline"
        >

          <mat-icon matPrefix class="icon">
            category
          </mat-icon>

          <input
            matInput
            formControlName="nameAr"
            [placeholder]="'categories.nameArPlaceholder' | translate"
          />


          @if (
            categoryForm
              .get('nameAr')
              ?.hasError('required')
          ) {

            <mat-error class="error">
              {{ 'categories.nameArRequired' | translate }}
            </mat-error>

          }

        </mat-form-field>
 <mat-form-field
          appearance="outline"
        >

          <mat-icon matPrefix class="icon">
            category
          </mat-icon>

          <input
            matInput
            formControlName="nameEn"
            [placeholder]="'categories.nameEnPlaceholder' | translate"
          />


          @if (
            categoryForm
              .get('nameEn')
              ?.hasError('required')
          ) {

            <mat-error class="error">
              {{ 'categories.nameEnRequired' | translate }}
            </mat-error>

          }

        </mat-form-field>

     
        <!-- =================================================
             ERROR
             ================================================= -->

        @if (errorMessage()) {

          <div class="error-message">

            <mat-icon>
              error_outline
            </mat-icon>

            <span>
              {{ errorMessage() }}
            </span>

          </div>

        }

      </div>


      <!-- =====================================================
           ACTIONS
           ===================================================== -->

      <div class="modal-actions">

        <button
          mat-button
          type="button"
          class="cancel-button"
          (click)="onCancel()"
          [disabled]="isSubmitting()"
        >

          {{ 'common.cancel' | translate }}

        </button>


        <button
          mat-raised-button
          type="submit"
          class="submit-button"
          [disabled]="
            categoryForm.invalid ||
            isSubmitting()
          "
        >

          <mat-icon>
            save
          </mat-icon>

         
  {{
            isEditing()
              ? ('categories.addCategory' | translate)
              : ('categories.editCategory' | translate)
          }}
        </button>

      </div>

    </form>

  </div>

</div>
