<div class="modal-overlay">

  <div class="modal-container">


    <!-- =========================================
         HEADER
         ========================================= -->

    <div class="modal-header">

      <div class="header-title">

        <div class="title-icon">

          <mat-icon>
            verified
          </mat-icon>

        </div>


        <div>

          <h2>

            {{
              data.add
                ? 'Add New Brand'
                : 'Edit Brand'
            }}

          </h2>


          <p>

            {{
              data.add
                ? 'Create a new cosmetic brand'
                : 'Update brand information'
            }}

          </p>

        </div>

      </div>


      <button
        mat-icon-button
        type="button"
        class="close-button"
        (click)="onCancel()"
      >

        <mat-icon>
          close
        </mat-icon>

      </button>

    </div>


    <!-- =========================================
         FORM
         ========================================= -->

    <form
      [formGroup]="brandForm"
      (ngSubmit)="onSubmit()"
    >

      <div class="form-content">


        <!-- =====================================
             IMAGE
             ===================================== -->

        <div class="image-upload-section">


          <div
            class="image-preview-wrapper"
            (click)="fileInput.click()"
          >


            <!-- Existing / selected image -->

            <img
              *ngIf="imagePreview"
              [src]="imagePreview"
              [alt]="
                brandForm.get('name')?.value ||
                'Brand image'
              "
              class="brand-image-preview"
            />


            <!-- Empty -->

            <div
              *ngIf="!imagePreview"
              class="image-placeholder"
            >

              <mat-icon>
                cloud_upload
              </mat-icon>

              <span>
                Choose Image
              </span>

            </div>


            <!-- Hover -->

            <div
              class="image-hover-overlay"
            >

              <mat-icon>
                photo_camera
              </mat-icon>

              <span>
                Change Image
              </span>

            </div>

          </div>


          <!-- Hidden file input -->

          <input
            #fileInput
            type="file"
            accept="image/*"
            hidden
            (change)="onImageSelected($event)"
          />


         

        </div>


        <!-- =====================================
             NAME
             ===================================== -->

        <mat-form-field
          appearance="outline"
        >

          <mat-label>
            Brand Name
          </mat-label>

          <mat-icon matPrefix>
            verified
          </mat-icon>

          <input
            matInput
            formControlName="name"
            placeholder="Enter brand name"
          />


          <mat-error
            *ngIf="
              brandForm
                .get('name')
                ?.hasError('required')
            "
          >

            Brand name is required

          </mat-error>

        </mat-form-field>


        <!-- =====================================
             ERROR
             ===================================== -->

        <div
          *ngIf="errorMessage"
          class="error-message"
        >

          <mat-icon>
            error_outline
          </mat-icon>

          <span>
            {{ errorMessage }}
          </span>

        </div>

      </div>


      <!-- =========================================
           ACTIONS
           ========================================= -->

      <div class="modal-actions">


        <button
          mat-button
          type="button"
          class="cancel-button"
          (click)="onCancel()"
        >

          CANCEL

        </button>


        <button
          mat-raised-button
          type="submit"
          class="submit-button"
          [disabled]="
            brandForm.invalid ||
            isSubmitting
          "
        >

          <mat-icon>

            {{
              data.add
                ? 'add'
                : 'save'
            }}

          </mat-icon>


          {{
            isSubmitting
              ? 'SAVING...'
              : (
                  data.add
                    ? 'CREATE BRAND'
                    : 'UPDATE BRAND'
                )
          }}

        </button>

      </div>

    </form>

  </div>

</div>