<div class="modal-overlay">

  <div class="modal-container">

    <!-- ========================================= -->
    <!-- HEADER -->
    <!-- ========================================= -->

    <header class="modal-header">

      <div class="header-title">

        <div class="title-icon">

          <mat-icon>
            {{ editUser ? 'manage_accounts' : 'person_add' }}
          </mat-icon>

        </div>


        <div class="header-text">

          <h2>

            {{
              editUser
                ? ('users.editUser' | translate)
                : ('users.addNewUser' | translate)
            }}

          </h2>


          <p>

            {{
              editUser
                ? ('users.updateUserDescription' | translate)
                : ('users.createUserDescription' | translate)
            }}

          </p>

        </div>

      </div>


      <button
        mat-icon-button
        type="button"
        class="close-button"

        [attr.aria-label]="
          'common.close' | translate
        "

        (click)="onCancel()"
      >

        <mat-icon>
          close
        </mat-icon>

      </button>

    </header>


    <!-- ========================================= -->
    <!-- FORM -->
    <!-- ========================================= -->

    <form
      [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >

      <div class="form-content">


        <!-- ===================================== -->
        <!-- NAME -->
        <!-- ===================================== -->

        <div class="form-group">

          <label
            for="userName"
            class="form-label"
          >

            {{ 'users.name' | translate }}

            <span class="required">
              *
            </span>

          </label>


          <input
            id="userName"
            type="text"
            class="form-input"

            formControlName="name"

            autocomplete="off"
          />


          @if (
            userForm.controls['name'].hasError('required') &&
            userForm.controls['name'].touched
          ) {

            <div class="form-error">

              {{ 'users.usernameRequired' | translate }}

            </div>

          }

        </div>


        <!-- ===================================== -->
        <!-- EMAIL -->
        <!-- ===================================== -->

        <div class="form-group">

          <label
            for="userEmail"
            class="form-label"
          >

            {{ 'users.email' | translate }}

            <span class="required">
              *
            </span>

          </label>


          <input
            id="userEmail"
            type="email"
            class="form-input"

            formControlName="email"

            autocomplete="email"
          />


          @if (
            userForm.controls['email'].hasError('required') &&
            userForm.controls['email'].touched
          ) {

            <div class="form-error">

              {{ 'users.emailRequired' | translate }}

            </div>

          }


          @if (
            userForm.controls['email'].hasError('email') &&
            userForm.controls['email'].touched
          ) {

            <div class="form-error">

              {{ 'users.invalidEmail' | translate }}

            </div>

          }

        </div>


        <!-- ===================================== -->
        <!-- PASSWORD -->
        <!-- ===================================== -->

        @if (!editUser) {

          <div class="form-group">

            <label
              for="userPassword"
              class="form-label"
            >

              {{ 'users.password' | translate }}

              <span class="required">
                *
              </span>

            </label>


            <div class="password-wrapper">

              <input
                id="userPassword"

                [type]="
                  hidePassword
                    ? 'password'
                    : 'text'
                "

                class="form-input password-input"

                formControlName="password"

                autocomplete="new-password"
              />


              <button
                type="button"
                class="password-toggle"

                [attr.aria-label]="
                  hidePassword
                    ? ('users.showPassword' | translate)
                    : ('users.hidePassword' | translate)
                "

                (click)="
                  hidePassword = !hidePassword
                "
              >

                <mat-icon>

                  {{
                    hidePassword
                      ? 'visibility_off'
                      : 'visibility'
                  }}

                </mat-icon>

              </button>

            </div>


            @if (
              userForm.controls['password'].hasError('required') &&
              userForm.controls['password'].touched
            ) {

              <div class="form-error">

                {{ 'users.passwordRequired' | translate }}

              </div>

            }


            @if (
              userForm.controls['password'].hasError('minlength') &&
              userForm.controls['password'].touched
            ) {

              <div class="form-error">

                {{ 'users.passwordMinLength' | translate }}

              </div>

            }

          </div>


          <p class="pass">

            {{ 'users.passwordHint' | translate }}

          </p>

        }


        <!-- ===================================== -->
        <!-- ROLE -->
        <!-- ===================================== -->

        @if (!editUser) {

          <div class="form-group">

            <label
              for="userRole"
              class="form-label"
            >

              {{ 'users.role' | translate }}

              <span class="required">
                *
              </span>

            </label>


            <select
              id="userRole"
              class="form-select"
              formControlName="role"
            >

              <option
                value="Admin"
              >
                Admin
              </option>


              <option
                value="User"
              >
                User
              </option>

            </select>


            @if (
              userForm.controls['role'].hasError('required') &&
              userForm.controls['role'].touched
            ) {

              <div class="form-error">

                {{ 'users.roleRequired' | translate }}

              </div>

            }

          </div>

        }

      </div>


      <!-- ========================================= -->
      <!-- SERVER ERROR -->
      <!-- ========================================= -->

      @if (errorMessage) {

        <div class="error-message">

          <mat-icon>
            error_outline
          </mat-icon>

          <span>
            {{ errorMessage }}
          </span>

        </div>

      }


      <!-- ========================================= -->
      <!-- ACTIONS -->
      <!-- ========================================= -->

      <div class="modal-actions">


        <button
          mat-button
          type="button"

          class="cancel-button"

          (click)="onCancel()"
        >

          {{ 'common.cancel' | translate }}

        </button>


        <button
          mat-raised-button
          type="submit"

          class="submit-button"

          [disabled]="userForm.invalid"
        >

      <!--     <mat-icon>

            {{
              editUser
                ? 'save'
                : 'person_add'
            }}

          </mat-icon> -->


          {{
            editUser
              ? ('users.updateUser' | translate)
              : ('users.createUser' | translate)
          }}

        </button>

      </div>

    </form>

  </div>

</div>