
<div class="modal-overlay">

  <div class="modal-container">

    <!-- =====================================================
         HEADER
         ===================================================== -->

    <div class="modal-header">

      <div class="header-title">

        <div class="title-icon">

          <mat-icon>
            account_tree
          </mat-icon>

        </div>


        <div>

          <h2>
            {{ dialogTitle }}
          </h2>

          <p>
            {{ dialogDescription }}
          </p>

        </div>

      </div>


      <!-- ===================================================
           CLOSE
           =================================================== -->

      <button
        mat-icon-button
        type="button"
        class="close-button"
        (click)="cancel()"
        [disabled]="saving()"
        [attr.aria-label]="'common.close' | translate"
      >

        <mat-icon>
          close
        </mat-icon>

      </button>

    </div>


    <!-- =====================================================
         FORM
         ===================================================== -->

    <form
      [formGroup]="form"
      (ngSubmit)="save()"
    >

      <div class="form-content">


        <!-- =================================================
             CATEGORY
             ================================================= -->

        <mat-form-field
          appearance="outline"
        >

          <mat-label class="icon">
            {{ 'subCategories.category' | translate }}
          </mat-label>

          <mat-icon matPrefix class="icon">
            category
          </mat-icon>

          <mat-select
            formControlName="categoryId"
          >

            @for (
              category of data.categories;
              track category.id
            ) {

              <mat-option
                [value]="category.id"
              >

                {{ category.nameEn }}

              </mat-option>

            }


            @if (
              !data.categories ||
              data.categories.length === 0
            ) {

              <mat-option disabled>

                {{ 'subCategories.noCategories' | translate }}

              </mat-option>

            }

          </mat-select>


          @if (
            form.get('categoryId')?.hasError('required') &&
            form.get('categoryId')?.touched
          ) {

            <mat-error class="error">

              {{ 'subCategories.categoryRequired' | translate }}

            </mat-error>

          }

        </mat-form-field>


        <!-- =================================================
             NAME
             ================================================= -->

        <mat-form-field
          appearance="outline"
        >

          <mat-icon matPrefix class="icon">
            label
          </mat-icon>

          <input
            matInput
            formControlName="nameAr"
            [placeholder]="'subCategories.enterNameAr' | translate"
            maxlength="100"
          />


          @if (
            form.get('nameAr')?.hasError('required') &&
            form.get('nameAr')?.touched
          ) {

            <mat-error class="error">

              {{ 'subCategories.nameRequired' | translate }}

            </mat-error>

          }


          @if (
            form.get('nameAr')?.hasError('minlength') &&
            form.get('nameAr')?.touched
          ) {

            <mat-error class="error">

              {{ 'subCategories.minLength' | translate }}

            </mat-error>

          }


          @if (
            form.get('nameAr')?.hasError('maxlength') &&
            form.get('nameAr')?.touched
          ) {

            <mat-error class="error">

              {{ 'subCategories.maxLength' | translate }}

            </mat-error>

          }

        </mat-form-field>
<mat-form-field
          appearance="outline"
        >

          <mat-icon matPrefix class="icon">
            label
          </mat-icon>

          <input
            matInput
            formControlName="nameEn"
            [placeholder]="'subCategories.enterNameEn' | translate"
            maxlength="100"
          />


          @if (
            form.get('nameEn')?.hasError('required') &&
            form.get('nameEn')?.touched
          ) {

            <mat-error class="error">

              {{ 'subCategories.nameRequired' | translate }}

            </mat-error>

          }


          @if (
            form.get('nameEn')?.hasError('minlength') &&
            form.get('nameEn')?.touched
          ) {

            <mat-error class="error">

              {{ 'subCategories.minLength' | translate }}

            </mat-error>

          }


          @if (
            form.get('nameEn')?.hasError('maxlength') &&
            form.get('nameEn')?.touched
          ) {

            <mat-error class="error">

              {{ 'subCategories.maxLength' | translate }}

            </mat-error>

          }

        </mat-form-field>

      </div>


      <!-- =====================================================
           ACTIONS
           ===================================================== -->

      <div class="modal-actions">

        <!-- CANCEL -->

        <button
          mat-button
          type="button"
          class="cancel-button"
          (click)="cancel()"
          [disabled]="saving()"
        >

          {{ 'common.cancel' | translate }}

        </button>


        <!-- SUBMIT -->

        <button
          mat-raised-button
          type="submit"
          class="submit-button"
          [disabled]="
            form.invalid ||
            saving()
          "
        >

          <mat-icon>
            {{ submitIcon }}
          </mat-icon>

          {{ submitText }}

        </button>

      </div>

    </form>

  </div>

</div>
