
<div class="modal-overlay">

  <div class="modal-container">


    <!-- =====================================================
         HEADER
         ===================================================== -->

    <div class="modal-header">

      <div class="header-title">

        <div class="title-icon">

          <mat-icon>
            account_tree
          </mat-icon>

        </div>


        <div class="header-text">

          <h2>

            {{
              isEditing
                ? ('subCategories.editSubcategory' | translate)
                : ('subCategories.addSubcategory' | translate)
            }}

          </h2>

        </div>

      </div>


      <!-- ===================================================
           CLOSE
           =================================================== -->

      <button
        mat-icon-button
        type="button"
        class="close-button"
        (click)="cancel()"
        [disabled]="saving()"
        [attr.aria-label]="'common.close' | translate"
      >

        <mat-icon>
          close
        </mat-icon>

      </button>

    </div>


    <!-- =====================================================
         FORM
         ===================================================== -->

    <form
      [formGroup]="form"
      (ngSubmit)="save()"
      novalidate
    >

      <div class="form-content">


        <!-- =================================================
             CATEGORY
             ================================================= -->

        <div class="form-group">

          <label
            for="categoryId"
            class="form-label"
          >

            {{ 'subCategories.category' | translate }}

            <span class="required">
              *
            </span>

          </label>


          <select
            id="categoryId"
            class="form-select"
            formControlName="categoryId"
          >

            <option
              [ngValue]="null"
              disabled
            >

              {{ 'common.allCategories' | translate }}

            </option>


            @for (
              category of data.categories;
              track category.id
            ) {

              <option
                [ngValue]="category.id"
              >

                {{ category.nameEn }}

              </option>

            }

          </select>


          @if (
            form.controls.categoryId.hasError('required') &&
            form.controls.categoryId.touched
          ) {

            <div class="form-error">

              {{ 'subCategories.categoryRequired' | translate }}

            </div>

          }

        </div>


        <!-- =================================================
             NAMES
             ================================================= -->

        <div class="form-row">


          <!-- ===============================================
               ARABIC NAME
               =============================================== -->

          <div class="form-group">

            <label
              for="nameAr"
              class="form-label"
            >

              {{ 'brands.nameAr' | translate }}

              <span class="required">
                *
              </span>

            </label>


            <input
              id="nameAr"
              type="text"
              class="form-input"
              formControlName="nameAr"
              maxlength="100"
              autocomplete="off"
            />


            @if (
              form.controls.nameAr.hasError('required') &&
              form.controls.nameAr.touched
            ) {

              <div class="form-error">

                {{ 'subCategories.nameArRequired' | translate }}

              </div>

            }


            @if (
              form.controls.nameAr.hasError('minlength') &&
              form.controls.nameAr.touched
            ) {

              <div class="form-error">

                {{ 'subCategories.minLength' | translate }}

              </div>

            }


            @if (
              form.controls.nameAr.hasError('maxlength') &&
              form.controls.nameAr.touched
            ) {

              <div class="form-error">

                {{ 'subCategories.maxLength' | translate }}

              </div>

            }

          </div>


          <!-- ===============================================
               ENGLISH NAME
               =============================================== -->

          <div class="form-group">

            <label
              for="nameEn"
              class="form-label"
            >

              {{ 'brands.nameEn' | translate }}

              <span class="required">
                *
              </span>

            </label>


            <input
              id="nameEn"
              type="text"
              class="form-input"
              formControlName="nameEn"
              maxlength="100"
              autocomplete="off"
            />


            @if (
              form.controls.nameEn.hasError('required') &&
              form.controls.nameEn.touched
            ) {

              <div class="form-error">

                {{ 'subCategories.nameEnRequired' | translate }}

              </div>

            }


            @if (
              form.controls.nameEn.hasError('minlength') &&
              form.controls.nameEn.touched
            ) {

              <div class="form-error">

                {{ 'subCategories.minLength' | translate }}

              </div>

            }


            @if (
              form.controls.nameEn.hasError('maxlength') &&
              form.controls.nameEn.touched
            ) {

              <div class="form-error">

                {{ 'subCategories.maxLength' | translate }}

              </div>

            }

          </div>

        </div>

      </div>


      <!-- =====================================================
           ACTIONS
           ===================================================== -->

      <div class="modal-actions">


        <!-- =================================================
             CANCEL
             ================================================= -->

        <button
          mat-button
          type="button"
          class="cancel-button"
          (click)="cancel()"
          [disabled]="saving()"
        >

          {{ 'common.cancel' | translate }}

        </button>


        <!-- =================================================
             SUBMIT
             ================================================= -->

        <button
          mat-raised-button
          type="submit"
          class="submit-button"
          [disabled]="form.invalid || saving()"
        >

      <!--     <mat-icon>
            save
          </mat-icon> -->


          {{
            isEditing
              ? ('subCategories.editSubcategory' | translate)
              : ('subCategories.addSubcategory' | translate)
          }}

        </button>

      </div>

    </form>

  </div>

</div>
